<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Leave Requests</title>
    <script></script>
  </head>
  <body>
    <h1>Leave Requests</h1>

    <p>Enter type of leave request</p>
    <select>
      <option value="Outing">Outing</option>
      <option value="Parent Leave">Parent Leave</option>
      <option value="Medical Leave">Medical Leave</option>
    </select>
    <br />
    <br />
    <p>Enter reason for Leave request</p>
    <input type="text" />
    <p>Enter the date of leaving</p>
    <input type="date" />
    <p>Enter the date of return</p>
    <input type="date" />
    <table border="Black">
      <tr>
        <td>Leave ID</td>
        <td>Type of leave request</td>
        <td>Reason for leave</td>
        <td>Date of leaving</td>
        <td>Date of return</td>
        <td>Delete Request</td>
      </tr>
    </table>
  </body>
</html>
