<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post Events</title>
</head>

<body>
    <h1>Post Event</h1>
    <form id="PostEvent-form" method="POST">
        
        <label>Event Name</label>
        <input type="text" id="eventName" name="eventName"><br><br>
        <label>Event Description</label>
        <input type="text" id="eventDescription" name="eventDescription"><br><br>
        
        <label>Event Date</label>
        <input type="text" id="eventName" name="eventName"><br><br>
        
        <label>Event Time</label>
        <input type="text" id="eventTime" name="eventTime"><br><br>
        
        <label>Event Venue</label>
        <input type="text" id="eventVenue" name="eventVenue"><br><br>
        
        <label>Event Organiser</label>
        <input type="text" id="eventOrganiser" name="eventOrganiser"><br><br>
        
        <label>Participant Count</label>
        <input type="text" id="participantCount" name="participantCount"><br><br>
        
        <label>Hosted By</label>
        <input type="text" id="hostedBy" name="hostedBy"><br><br>
        
        <label>Poster</label>
        <input type="text" id="eventPoster" name="eventPoster"><br><br>
        +
        <input type="submit" value="Submit" />
    </form>
    <a href="./stu-reg.html">Register</a>
</body>

<script>
    const PostForm = document.getElementById("PostEvent-form");

    PostForm.addEventListener("submit", async (event) => {
        event.preventDefault();

        const formData = new PostData(PostForm);
        const eventName = formData.get("eventName");
        const eventDescription = formData.get("eventDescription");
        const eventDate = formData.get("eventDate");
        const eventTime = formData.get("eventTime");
        const eventVenue = formData.get("eventVenue");
        const eventOrganiser = formData.get("eventOrganiser");
        const participantCount = formData.get("participantCount");
        const hostedBy = formData.get("hostedBy");
        const eventPoster = formData.get("eventPoster");

        const resp = await fetch(
            "http://localhost:8000/api/v1/student/event/",
            {
                method: "POST",
                body: JSON.stringify({
                    eventName: eventName,
                    eventDescription: eventDescription,
                    eventDate: eventDate,
                    eventTime: eventTime,
                    eventVenue: eventVenue,
                    eventOrganiser: eventOrganiser,
                    participantCount: participantCount,
                    hostedBy: hostedBy,
                    eventPoster: eventPoster,
                }),
                headers: {
                    "Content-type": "application/json; charset=UTF-8",
                },
            }
        );
        console.log(resp);
        if (resp.status == 200) alert("Successfully Registered");
        else alert("Error Occured");
    });
</script>

</html>