<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post Events</title>
</head>

<body>
    <h1>Post Event</h1>
    <form>
        
        <label>Event Name</label>
        <input type="text" id="" name=""><br><br>
        <label>Event Description</label>
        <input type="text" id="" name=""><br><br>
        
        <label>Event Date</label>
        <input type="text" id="" name=""><br><br>
        
        <label>Event Time</label>
        <input type="text" id="" name=""><br><br>
        
        <label>Event Venue</label>
        <input type="text" id="" name=""><br><br>
        
        <label>Event Organiser</label>
        <input type="text" id="" name=""><br><br>
        
        <label>Participant Count</label>
        <input type="text" id="" name=""><br><br>
        
        <label>Hosted By</label>
        <input type="text" id="" name=""><br><br>
        
        <label>Poster</label>
        <input type="text" id="" name=""><br><br>
        +
        <input type="submit" value="Submit" />
    </form>
    <a href="./stu-reg.html">Register</a>
</body>

</html>