<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <p>Your current room:</p>
      <p>Room type: <p id="room-type"></p></p>
      <p>Block: <p id="block"></p></p>
      <p>Room number: {{roomnumber}}</p>
      <p>Mess type: {{}}</p>
    </div>
    <div>
      <p>Change room:</p>
      <input type="text" placeholder="Room type" v-model="roomtype" />
      <input type="text" placeholder="Room number" v-model="roomnumber" />
      <button @click="changeRoom">Change room</button>
      <p>Change mess:</p>
      <input type="text" placeholder="Mess type" v-model="messtype" />
      <button @click="changeMess">Change mess</button>
    </div>
  </body>
  <script>
async function getData() {
  const token = localStorage.getItem("token")
  const resp = await fetch("http://localhost:8000/api/v1/student/me", {headers: {
    Authorization: `Bearer ${token}`
  }})
  const data =await resp.json()
  document.getElementById("block").innerText = data.data.block
}
getData()
  </script>
</html>
