<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a>Register</a>
    <form id="register-form" method="POST">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required />

      <label for="regno">Registration Number:</label>
      <input type="text" id="regno" name="regno" required />

      <label for="block">Block:</label>
      <input type="text" id="block" name="block" required />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />

      <label for="roomno">Room Number:</label>
      <input type="text" id="roomno" name="roomno" required />

      <button type="submit">Register</button>
    </form>
  </body>
  <script>
    const registerForm = document.getElementById("register-form");

    registerForm.addEventListener("submit", async (event) => {
      event.preventDefault();

      const formData = new FormData(registerForm);

      const name = formData.get("name");
      const regNo = formData.get("regno");
      const blockNo = formData.get("block");
      const pass = formData.get("password");
      const roomNo = formData.get("roomno");

      const resp = await fetch(
        "http://localhost:8000/api/v1/student/auth/register",
        {
          method: "POST",
          body: JSON.stringify({
            name: name,
            regNo: regNo,
            block: blockNo,
            password: pass,
            roomNo: roomNo,
          }),
          headers: {
            "Content-type": "application/json; charset=UTF-8",
          },
        }
      );
      console.log(resp);
      if (resp.status == 200) alert("Successfully Registered");
      else alert("Error Occured");
    });
  </script>
</html>
