<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>View Courses</title>
</head>

<body>
  <h1>View Courses</h1>
  <table>
    <tr>
      <th>Course name</th>
      <th>Course Code</th>
      <th>Course Type</th>
      <th>Course Credits</th>
      <th>Course teacherId(Name)</th>
    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
    </tr>
  </table>
  
  
</body>

</html>