<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Complaints</title>
</head>

<body>
    <h1>Accept/Reject Events</h1>
    <table>
        <tr>
            <th>Event Name</th>
            <th>Event Description</th>
            <th>Event Date</th>
            <th>Event Time</th>
            <th>Event Venue</th>
            <th>Event Organizer</th>
            <th>Event Count</th>
            <th>Hosted By</th>
            <th>Poster</th>
            <th>Select</th>
        </tr>
        <tr>
            <td>Alfreds Futterkiste</td>
            <td>Maria Anders</td>
            <td>Germany</td>
            <td>Germany</td>
            <td>Germany</td>
            <td>Germany</td>
            <td>Germany</td>
            <td>Germany</td>
            <td>Germany</td>
            <th><input type="radio"></th>
        </tr>
    </table>
    <form>
        <input type="submit" value="Submit" />
    </form>
    <a href="./stu-reg.html">Register</a>
</body>

</html>