<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
</head>

<body>
    <h1>Choose your pill</h1>
    <p>Red or Blue? Choose wisely</p>
    <ul>
        <ul><a href="./complaint.html"><button>COMPLAINT</button></ul></a>
        <br><br>
        <ul><a href="./leave.html"><BUTTON>LEAVE</BUTTON></ul></a>
        <br><br>
        <ul><a href="./room.html"><button>room</button></ul></a>
    </ul>
</body>

</html>